<form method="post" action="{{ path('admin_posts_delete', {'postid': post.postid}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.postid) }}">
    <button class="btn btn-outline-success" >Delete</button>
</form>
