<form method="post" action="{{ path('admin_posts_delete', {'postid': post.postid}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer {{ post.posttitle }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.postid) }}">
    <button class="btn btn-outline-success" onclick="showSwal('warning-message-and-cancel')">Delete</button>
</form>
