{% extends 'backoffice.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}


    {{ include('posts/admin_posts/_form.html.twig') }}

    </div>
{% endblock %}
{% block footer %}
{% endblock footer %}

