<form method="post" action="{{ path('shop_delete', {'shopId': shop.shopId}) }}" onsubmit="return confirm('Confirmé la suppression de ce produit');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ shop.shopId) }}">
    <button class="btn">Delete</button>
</form>
