{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}



{% block body %}

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('evenement_index') }}">Retour à la liste</a>
{% endblock %}
