{% extends 'base.html.twig' %}

{% block title %}Edit EventComment{% endblock %}

{% block body %}
    <h1>Edit EventComment</h1>

    {{ include('event_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('event_comment_index') }}">back to list</a>

    {{ include('event_comment/_delete_form.html.twig') }}
{% endblock %}
