{% extends 'base.html.twig' %}

{% block title %}New EventComment{% endblock %}

{% block body %}
    <h1>Create new EventComment</h1>

    {{ include('event_comment/_form.html.twig') }}

    <a href="{{ path('event_comment_index') }}">back to list</a>
{% endblock %}
