{% extends 'base.html.twig' %}
{% block body %}
<div >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    </div>

    {{ include('posts/_form.html.twig') }}
    <center> <a   href="{{ path('posts_index') }}">Retour</a></center>
</div>

{% endblock body %}
