<h1>Transformations des vos points avec succés !</h1>
<p><div>Vous avez choisir un :{{ shop.name }} avec la couleur {{ shop.color }}</div>
<div>
<p>Vos points sont diminué de {{ shop.cost }} points</p>
</div>
