<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chemical-weapon"></i>
                <span class="menu-title">Utilisateurs</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chemical-weapon"></i>
                <span class="menu-title">Evenements</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chemical-weapon"></i>
                <span class="menu-title">Produits</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chemical-weapon"></i>
                <span class="menu-title">Services</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chemical-weapon"></i>
                <span class="menu-title">Blogs</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="mdi mdi-chemical-weapon"></i>
                <span class="menu-title">Récompenses</span>
            </a>
        </li>

    </ul>
</nav>